@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadows ---->  */
.headerSha {
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}
.widgetShadow {
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
}
.feedbackSha {
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
}

/* react slick styles ---->  */

.slick-dots li button:before {
  font-size: 10px !important;
  color: white !important;
}
.slick-list {
  height: 100% !important;
}
.slick-slider {
  display: grid !important;
  height: 100% !important;
}

.slick-slide div {
  height: 100% !important;
}
.slick-track {
  display: flex !important;
  height: 100%;
}

.slick-dots li {
  margin: 0px !important;
}
.slick-dots {
  bottom: -40px !important;
}
/* =======> drawer style */
.drawer {
  width: 50% !important;
}
.hideScroll::-webkit-scrollbar {
  display: none !important;
}

.slick-slide {
  margin: auto !important;
}

@media screen and (max-width: 500px) {
  .slick-dots li button:before {
    font-size: 8px !important;
  }
  .slick-dots {
    bottom: -36px !important;
  }
}

@media screen and (max-width: 700px) {
  .drawer {
    width: 70% !important;
  }
}
@media screen and (max-width: 500px) {
  .drawer {
    width: 100% !important;
  }
}
